{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": "off",
    "implicit-arrow-linebreak": "off",
    "indent": "off",
    "no-nested-ternary": "off",
    "no-trailing-spaces": "off",
    "no-use-before-define": ["error", "nofunc"]
  }
}
