.root {
  margin: 25px;
  text-decoration: none;
  width: 100%;
}

.paper {
  padding: 25px;
  width: 100%;
}

.description {
  text-decoration: none;
}

.paper.probably {
  background-color: rgba(255, 255, 0, 0.5);
}

.paper.check {
  background-color: rgba(255, 0, 0, 0.5);
}

.paper.okay {
  background-color: rgba(255, 255, 255, 0.9);
}
