.root {
  margin: 25px;
  text-decoration: none;
  width: 100%;
}

.paper {
  padding: 25px;
  width: 100%;
}

.description {
  text-decoration: none;
}

.probably {
  background-color: #ff0;
}

.check {
  background-color: #f00;
}
